@{
	ViewData["Title"] = "Home Page";
}
<div class="container">
	<div class="firstPanel">
		@* <label>API Endpoint : </label> *@
		<form>
			<select id="httpMethods" name="methods">
				<option value="get">GET</option>
				<option value="post">POST</option>
				<option value="put">PUT</option>
				<option value="patch">PATCH</option>
				<option value="delete">DELETE</option>
			</select>
			<input type="text" id="endpointUrl" name="endpointUrl" placeholder="Enter the API Endpoing URL here..." />
			<button type="submit" id="sendAPIBtn" name="sendAPIButton">Send API</button>
		</form>
	</div>
	<div class="operationsPanel">
		<div class="operationTabs">
			<button class="tablinks" onclick="openTab(event, 'Params')">Params</button>
			<button class="tablinks" onclick="openTab(event, 'Authorization')">Authorization</button>
			<button class="tablinks" onclick="openTab(event, 'Form Data')">Form Data</button>
		</div>
		<div id="Params" class="tabcontent">
			<span class="closeTab" onclick="closeTab('Params')">X</span>
			<div class="paramsContent" id="paramsHeaders">
				<table class="paramsHeadersTable">
					<thead>
						<tr>
							<th>Key</th>
							<th>Value</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="paramsTableBody">
						<!-- Rows will be dynamically added here -->
					</tbody>
				</table>
			</div>
		</div>

		<div id="Authorization" class="tabcontent">
			<span class="closeTab" onclick="closeTab('Authorization')">X</span>
			<form>
				<label for="authType">Authorization Type : </label>
				<select id="authType" name="authType">
					<option value="noAuth">No Auth</option>
					<option value="basicAuth">Basic Auth</option>
					<option value="bearerToken">Bearer Token</option>
				</select>
			</form>
			<div id="authCredentials" style="display: none;">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" class="form-control" placeholder="Enter Username">
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" class="form-control" placeholder="Enter Password">
				</div>
			</div>

			<div id="bearerToken" style="display: none;">
				<div class="form-group">
					<label for="token">Token</label>
					<input type="text" id="token" class="form-control" placeholder="Enter Token here">
				</div>
			</div>
		</div>

		<div id="Form Data" class="tabcontent">
			<span class="closeTab" onclick="closeTab('Form Data')">X</span>
			<div class="formDataContent" id="formDataHeaders">
				<table class="formDataTable">
					<thead>
						<tr>
							<th>Key</th>
							<th>Value</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="formDataTableBody">
						<!-- Rows will be dynamically added here -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="secondPanel">
		@* <textarea class="requestArea" id="requestData" placeholder="Enter your request payload here..."></textarea> *@
		@* <textarea class="responseArea" id="responseData" placeholder="Response will appear here..." readonly></textarea> *@
		<div class="requestContainer">
			<div class="requestTabs">
				<button class="ReqtabButton Reqactive" onclick="showTabReq('body')">Body</button>
				<button class="ReqtabButton" onclick="showTabReq('headers')">Headers</button>
			</div>
			<div class="requestContent visibleReq" id="requestBody">
				<textarea class="requestArea" id="requestBodyText" placeholder="Enter your request payload here..."></textarea>
			</div>
			<div class="requestContent" id="requestHeaders">
				<table class="requestHeadersTable">
					<thead>
						<tr>
							<th>Key</th>
							<th>Value</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="headersTableBody">
						<!-- Rows will be dynamically added here -->
					</tbody>
				</table>
			</div>
		</div>

		<div class="responseContainer">
			<div class="responseTabs">
				<button class="tabButton active" onclick="showTab('body')">Response Body</button>
				<button class="tabButton" onclick="showTab('headers')">Response Headers</button>
			</div>
			<div class="responseContent visible" id="responseBody">
				<textarea class="responseArea" id="responseBodyText" placeholder="Response body will appear here..." readonly></textarea>
			</div>
			<div class="responseContent" id="responseHeaders">
				<table class="headersTable">
					<thead>
						<tr>
							<th>Key</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody id="responseHeadersTableBody">
						<tr>
							<td colspan="2">Response headers will appear here...</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

